body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.title_{
    font-family: 'Carter One', cursive;
    text-shadow: 1px 1px 1px #000000
}

#logo{
    font-size: 2em;
    font-weight: 800;
    color: #ffa500 ;
}

header{
    background-image: url('../img/bg-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    color: #ffffff;
    padding: 6.25rem 3.125rem;
    text-align: center;
    align-items: center;
    text-shadow: 1px 1px 1px #000000;
}

.fas{
    text-shadow: 1px 1px 1px #000000;
}

hr{
    width: 33%;
}